<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">
  
    <!-- Main styles -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="{{ site.github.url }}/styles/main.css">
  
    <!-- Quicksand -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <!-- JQuery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
  </head>