<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <header>
        <div class="skew">
            <h1>{{ site.title }}</h1>
        </div>
    </header>

    <div class="banner" style="background-image: url('{{ "/images/isaac-banner.jpg" | absolute_url }}')">

    </div>

    <div class="container">
        <div class="information">
            <h2>
                The Binding of AIsaac is an awesome machine learning project that aims to teach an AI
                to play 'The Binding of Isaac'
            </h2>
            <h3>Stack:</h3>
            <p class="code">-- The Binding of Isaac Mods</p>
            <p class="code">lua</p>
            <p class="code"># The Agent & Genetic Algorithm</p>
            <p class="code">python 3</p>
        </div>
    </div>
</body>
</html>