---
---

$offwhite: hsl(0, 0%, 99%);
$offblack: hsl(0, 0%, 8%);
$headerBackground: hsl(157, 38%, 55%);
$headerBorder: hsl(157, 38%, 10%);
$codeColor: hsl(0, 0%, 30%);
$codeFont: 'Inconsolata', monospace;

html, body {
    background: $offwhite !important;
    color: $offblack !important;
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    padding: 0;
}

header {
    background: $offblack;
    color: $offwhite;
    height: 60px;
    margin-bottom: 100px;
    position: relative;
    .skew {
        background: $offblack;
        height: 90px;
        width: 100%;
        position: absolute;
        top: 10px;
        -webkit-transform: skewY(-2.5deg);
        h1 {
            padding: 20px;
            margin: 0;
            -webkit-transform: skewY(2.5deg);
            @media (max-width: 450px) {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}

.banner {
    height: 300px;
    background-size: cover;
    background-position-y: 40%;
    margin-top: -100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,.25);
}

.information {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: left;
    }
}

p.code {
    text-align: left;
    color: $codeColor;
    font-family: $codeFont;
    font-size: 16px;
}

