---
---

// Fonts
@font-face {
    font-family: "Operator";
    src: url("/the-binding-of-aisaac/fonts/OperatorMono-LightItalic.otf") format("opentype");
}

$offwhite: hsl(0, 0%, 99%);
$offblack: hsl(0, 0%, 8%);
$headerBackground: hsl(157, 38%, 55%);
$headerBorder: hsl(157, 38%, 10%);
$codeColor: hsl(0, 0%, 30%);

html, body {
    background: $offwhite !important;
    color: $offblack !important;
    font-family: 'Quicksand', sans-serif !important;
    margin: 0;
    padding: 0;
}

header {
    background: $offblack;
    color: $offwhite;
    height: 60px;
    margin-bottom: 100px;
    position: relative;
    .skew {
        background: $offblack;
        height: 90px;
        width: 100%;
        position: absolute;
        top: 10px;
        -webkit-transform: skewY(-2.5deg);
        h1 {
            padding: 20px;
            margin: 0;
            -webkit-transform: skewY(2.5deg);
            @media (max-width: 450px) {
                font-size: 30px;
                text-align: center;
            }
        }
    }
}

.information {
    h2 {
        text-align: center;
    }
    h3 {
        text-align: left;
    }
}

p.code {
    text-align: left;
    color: $codeColor;
    font-family: 'Operator';
    font-size: 16px;
}

